* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #1F2937;
}

hr {
    width: 510px;
    margin: 25px 0;
    border: 1px #273549 solid;
}

.container {
    padding: 0 20px;
    width: 100vw;
    height: 100vh;
}

.container-text {
    margin: 20px 60px;
}

.heading {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-weight: 800;
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-size: 2.5rem;
}

.subheading {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    color: #D5D4D8;
    margin-top: 10px;
    font-size: 1rem;
}

.heading span {
    color: #4ADF86;
}

.btn-container {
    margin-top: 40px;
    display: flex;
    width: 450px;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.label-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    color: #fff;
    font-size: 0.75rem;
}

.length-input {
    width: 55px;
    height: 35px;    
    text-align: center;
    margin-right: 40px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
    background-color: #D5D4D8;
}

.generate-btn {
    color: #fff;
    background-color: #10B981;
    font-weight: 300;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    font-family: "Inter", sans-serif;
}

.generate-btn:hover {
    color: #1F2937;
    font-weight: 400;
    cursor: pointer;
}

.output-box {
    display: inline-block;
    justify-content: space-evenly;
    background-color: #273549;
    height: 40px;
    width: 210px;
    margin-right: 25px;
    border: none;
    border-radius: 6px;
    color: #55F991;
    font-family: "Inter", sans-serif;
    padding: 5px 15px;
    text-align: center;
    align-content: center;
    overflow: auto;
}

p {
    font-family: 'Karla', sans-serif;
    font-size: 0.75rem;
    margin-left: 180px;
    color: #4ADF86;
    font-weight: 500;
}

.output-box:hover {
    cursor: pointer;
}

.output-box:active {
    cursor: pointer;
    border: dotted 2px #55F991;
}

.checkboxes label {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 0.75rem;
    color: #fff;
}

.checkboxes input {
    margin-right: 20px;
    height: 10px;
    width: 10px;
}

.checkboxes input:hover {
    cursor: pointer;
}
