:root {

    --mint: #10B981;
    --spring-green: #55F991;
    --background: #1F2937; /* Gunmetal */
    --accent-dark: #273549; /* Prussian blue */
    --accent-light: #D5D4D8; /* Timberwolf */
    --text: #fff;

    --base-font: "Inter", sans-serif;
    --heading-font: "Karla", sans-serif;
}

.light-mode {
    --background: #ECFDF5; /* Honeydew */
    --accent-light: #6B7280; /* Slate Grey */
    --text: #2B283A;
    --spring-green: #10B981;
}

.light-mode #theme-switch svg:first-child {
    display: none;
}

.light-mode #theme-switch svg:last-child {
    display: block;
}

/* Toggle dark/light mode */

#theme-switch {
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: var(--accent-light);
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 20px;
    right: 20px;
}

#theme-switch svg {
    fill: var(--accent-dark);
}

#theme-switch svg:last-child {
    display: none;
}

* {
    box-sizing: border-box;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: var(--background);
}


/* Utility Classes */

hr {
    width: 460px;
    margin: 25px 0;
    border: 1px solid var(--accent-dark);
}

/* Font Classes */

.base-font {
    font-family: var(--base-font);
    font-weight: 400;
    color: var(--text);
}

/* Hero */

.container {
    margin: 30px 60px;
    padding: 0 20px;
    width: 100vw;
    height: 100vh;
}

.heading {
    display: flex;
    flex-direction: column;
    margin: 0;

    font-family: var(--heading-font);
    font-weight: 800;
    font-size: 2.5rem;
    color: var(--text);
}

.heading span {
    color: var(--spring-green)
}

.subheading {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 200;

    color: var(--accent-light);
}

/* Buttons & Checkboxes */

.btn-container {
    display: flex;
    justify-content: flex-start;
    width: 450px;
    margin-top: 40px;
    margin-bottom: 15px;
}

.generate-btn {
    background-color: var(--mint);
    padding: 10px 15px;
    font-weight: 400;

    border: none;
    border-radius: 6px;
}

.generate-btn:hover {
    color: var(--accent-dark);
    cursor: pointer;
}

.label-input {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 0.75rem;
}

.length-input {
    width: 55px;
    height: 35px;    
    margin: 0 40px 0 10px;
    text-align: center;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    border: none;

    background-color: var(--accent-light);
    color: var(--background);
}

.checkboxes label {
    font-weight: 200;
    font-size: 0.75rem;
}

.checkboxes input {
    margin-right: 20px;
    height: 10px;
    width: 10px;
}

.checkboxes input:hover {
    cursor: pointer;
}

/* Password Output */

.output-box {
    display: inline-block;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
    
    background-color: var(--accent-dark);
    height: 40px;
    width: 210px;
    margin-right: 25px;
    padding: 5px 15px;
    border: none;
    border-radius: 6px;
    
    font-size: 0.75rem;
    color: var(--spring-green);
    overflow: auto;
}

.output-box:hover {
    cursor: pointer;
}

.output-box:active {
    cursor: pointer;
    border: dotted 2px var(--spring-green);
}

p {
    font-family: var(--heading-font);
    font-size: 0.75rem;
    margin-left: 180px;
    color: var(--spring-green);
}
