html body { 
    margin: 0;
    background-color: #1B244A;
    box-sizing: border-box;
}

@font-face {
    src: url(CursedTimerUlil-Aznm.ttf);
    font-family: ScoreBoard;
}

h2 {
    font-family: ScoreBoard;
    font-size: 90px;
    color: #F94F6D;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #EEEEEE;
    font-size: 40px;
    display: flex;
    justify-content: center;
    width: 150px;
    margin-bottom: 0px;
}

button {
    margin: 0 5px;
    background-color: #1B244A;
    border: #9AABD8 solid 2px; 
    border-radius: 5px;
    height: 45px;
    width: 45px;
    font-family: ScoreBoard;
    font-size: 18px;
    color: #9AABD8;
    
}

button:hover {
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: center;
}

#home-score, #guest-score {
    background-color: #080001;
    height: 120px;
    width: 155px;
    border-radius: 5px;
    margin: 20px auto;
    text-align: center;
    line-height: 138px;
}

#reset {
    background-color: #080001;
    border: none;
    padding: 15px 20px;
    color: #F94F6D;
    display: block;
    margin: 15px auto;
    width: fit-content;
}

#reset:hover {
    border: #F94F6D solid 2px;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.highlight {
    border: #F94F6D 3px solid;
}